body {
  background-color: #f3f5f8;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  font-size: 22px;
  line-height: 2;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-inverse {
    background-image: none;
    background-color: #fff;
    border-radius: 0;
    border: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
    padding: 15px 0;
}

.navbar-nav li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
}

.loader {
  display: block;
  text-align: center;
  margin: 0 auto;
  border-color: red;
}

.author-img {
  border-radius: 100%;
}

.posts>li {
  list-style: none;
}

.posts,
.single-post {
  background-color: #fff;
  padding: 45px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1)
}

.posts .title {
  margin: 25px 0;
}

.single-post .title {
  margin-bottom: 25px;
}

.posts .featured_image {
  width: 100%;
  margin-bottom: 25px;
}

.posts .author_img {
  border-radius: 100%;
}

.posts .title a,
.single-post .title {
  font-size: 36px;
  color: #333;
  font-weight: 700;
  text-decoration: none;
}

.posts .meta {
  padding: 0;
  color: rgba(0, 0, 0, 0.54);
}

.posts>li {
  padding-bottom: 45px;
  border-bottom: solid 2px #f3f5f8;
  margin-bottom: 45px;
}

.posts>li:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.single-post h1,
.single-post h2,
.single-post h3,
.single-post h4,
.single-post h5,
.single-post h6 {
  font-weight: 700;
  margin-bottom: 15px;
}

.single-post img {
  width: 100%;
  height: 100%;
}

.single-post h2 img {
  margin-bottom: 25px;
}

.single-post p>img {
  margin: 25px 0;
}

.category li a,
.tags li a {
  padding: 3px 8px;
  border-radius: 4px;
}

.category {
  margin-bottom: 25px;
}

.tags {
  margin-top: 25px;
}

.category li a {
  background-color: #333;
  color: #fff;
}

.tags li a {
  background-color: #eee;
  color: #333;
}

.sidebar {
  padding: 25px 0;
}

.sidebar h4 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 900;
}

.sidebar h4:after {
  display: block;
  content: "";
  margin-top: 15px;
  width: 120px;
  background: #000;
  height: 2px;
}

.sidebar p {
  font-size: 16px;
}
